.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color:  DarkBlue;
  color: hsl(228, 45%, 44%);
}

p{
  color: blue;
  color: hsl(229, 6%, 66%);
  font-family: 'Poppins', sans-serif;

}

h2{
  color:  Blue;
  color: hsl(234, 12%, 34%);
  font-family: 'Poppins', sans-serif;
}

.title{
  color: blue;
  color: hsl(229, 6%, 66%);
  font-weight: 200;
  margin-bottom: 0;
}
.lowerT{
  margin-top: 0;
}

.header{
  text-align: center;
  margin: 50px auto;
  width: 40%;
}

img{
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
}
.Boxes{
margin: 2.2rem auto;
padding: 1.75rem;
font-weight: 400;
display: flex;
flex-direction: column;
text-align: left;
border-radius: 6px;
}
.Supervisor{
border-top: 5px solid cyan;
box-shadow: 1px 18px 25px -13px rgba(84, 157, 242, 0.4);
}

.Karma{
border-top: 5px solid orange;
box-shadow: 1px 18px 25px -13px rgba(84, 157, 242, 0.4);
}

.teamBuilder{
border-top: 5px solid red;
box-shadow: 1px 18px 25px -13px rgba(84, 157, 242, 0.4);
}

.Calculator{

border-top: 5px solid blue;
box-shadow: 1px 18px 25px -13px rgba(84, 157, 242, 0.4);
}
